.main {
	margin-bottom: 8%;
	-webkit-animation: fade 2s forwards;
}
a {
	text-decoration: none;
	color: #fff;
}
.item {
    position: relative;
}
.large section.item {
    float: left;
	width: 100%;
	margin: 4% 0;
	position: relative;
	overflow: hidden;
	&:hover .info {
        background: RGBA(7.00, 181.00, 255.00, 0.9);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
	&:hover .info ul {
        opacity: 1;
        display: block;
	}
	img {
		width: 100%;

		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}
	div.info {
        z-index: 500;
        word-break: break-all;
		position: absolute;
        display: table;
		width: 100%;
		background: #07B5FF;
		top: 0;
		background: RGBA(255, 255, 255, 0);
        -ms-filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
		opacity: 0;

		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		// top: 0;
		div.infoContent {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            position: relative;
            padding-bottom: 10%;
			// text-transform: uppercase;
			font: 800 2em/2em 'Lucida Grande', 'Lucida Sans Unicode';
			li {
				list-style-type: none;
				color: #fff;
				a {
					font: 300 1em 'Museo';
					text-transform: none;
                    &:hover {
                        color: #626262;
                    }
				}
			}
		}
	}
}
.small section.item {
	float: left;
	width: 46%;
	margin: 4% 4%;
	position: relative;
	overflow: hidden;
	&:hover .info {
        background: RGBA(7.00, 181.00, 255.00, 0.9);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
	img {
		width: 100%;

		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
	}
	div.info {
        word-break: break-all;
		position: absolute;
        display: table;
		width: 100%;
		height: 100%;
        top: 0;
		background: #07B5FF;
		background: RGBA(255, 255, 255, 0);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;

		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		// top: 0;
		div.infoContent {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font: 800 1em/1.3em 'Lucida Grande', 'Lucida Sans Unicode';
			li {
				list-style-type: none;
				color: #fff;
				a {
                    font: 300 1em 'Museo';
                    text-transform: none;
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        color: #626262;
                    }
                }
			}
		}
	}
}
.i1 {
	margin-left: 0 !important;
}
.i2 {
	margin-right: 0 !important;
}
@media screen and (max-width: 500px) {
    div.info {
        font-size: 0.7em !important;
    }
}
@keyframes "fade" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }

}

@-moz-keyframes fade {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes "fade" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-ms-keyframes "fade" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-o-keyframes "fade" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

